api.pickbit.co.kr {
    reverse_proxy gateway-service:18080
}

pickbit.co.kr {
    reverse_proxy frontend:3000
}

www.pickbit.co.kr {
    redir https://pickbit.co.kr{uri}
}

api.test.pickbit.co.kr {
    reverse_proxy host.docker.internal:18080
}

app.test.pickbit.co.kr {
    reverse_proxy test-frontend:3000
}
