<configuration>
    <property name="APP_NAME" value="gateway-service"/>
    <property name="LOG_PATH" value="${LOG_PATH:-logs}"/>
    <springProperty scope="context" name="ENV" source="spring.profiles.active" defaultValue="local"/>
    <property resource="META-INF/build-info.properties"/>
    <property name="LOG_FILE" value="${LOG_PATH}/${APP_NAME}-${ENV}.log"/>
    <property name="ERROR_LOG_FILE" value="${LOG_PATH}/${APP_NAME}-${ENV}-error.log"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) %cyan([${APP_NAME}]) %magenta([%-20thread]) %blue(%-45logger{45}) | %yellow(%msg%n%ex)</pattern>
            </layout>
        </encoder>
    </appender>

    <springProfile name="default,local,develop,test">
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="qa,deploy">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/${APP_NAME}-${ENV}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${ENV} %-5level [${APP_NAME}] [%-20thread] %-45logger{45} | %msg%n%ex</pattern>
            </encoder>
        </appender>

        <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${ERROR_LOG_FILE}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/${APP_NAME}-${ENV}-error.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
                <maxHistory>90</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${ENV} ERROR [${APP_NAME}] [%-20thread] %-45logger{45} | %msg%n%ex</pattern>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <if condition='isDefined("LOGSTASH_DESTINATION")'>
            <then>
                <appender name="LOGSTASH_TCP" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                    <destination>${LOGSTASH_DESTINATION}</destination>
                    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                        <providers>
                            <timestamp/>
                            <logLevel/>
                            <message/>
                            <mdc/>
                            <stackTrace/>
                            <pattern>
                                <pattern>
                                    {
                                    "application": "${APP_NAME}",
                                    "environment": "${ENV}",
                                    "host": "${HOSTNAME:-localhost}",
                                    "thread": "%thread",
                                    "logger": "%logger",
                                    "version": "${build.version:-unknown}"
                                    }
                                </pattern>
                            </pattern>
                        </providers>
                    </encoder>
                    <keepAliveDuration>1 minute</keepAliveDuration>
                    <reconnectionDelay>5 seconds</reconnectionDelay>
                </appender>

                <appender name="ASYNC_LOGSTASH" class="ch.qos.logback.classic.AsyncAppender">
                    <appender-ref ref="LOGSTASH_TCP"/>
                    <queueSize>256</queueSize>
                    <discardingThreshold>0</discardingThreshold>
                    <neverBlock>true</neverBlock>
                </appender>

                <root level="info">
                    <appender-ref ref="CONSOLE"/>
                    <appender-ref ref="FILE"/>
                    <appender-ref ref="ERROR_FILE"/>
                    <appender-ref ref="ASYNC_LOGSTASH"/>
                </root>
            </then>
            <else>
                <root level="info">
                    <appender-ref ref="CONSOLE"/>
                    <appender-ref ref="FILE"/>
                    <appender-ref ref="ERROR_FILE"/>
                </root>
            </else>
        </if>
    </springProfile>
</configuration>
