<configuration>
    <property name="APP_NAME" value="gateway-service"/>
    <springProperty scope="context" name="ENV" source="spring.profiles.active" defaultValue="local"/>

    <include resource="com/pickbit/logback/base.xml"/>

    <springProfile name="default,local,test">
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="develop">
        <if condition='isDefined("LOGSTASH_DESTINATION_EFFECTIVE")'>
            <then>
                <root level="info">
                    <appender-ref ref="CONSOLE"/>
                    <appender-ref ref="FILE"/>
                    <appender-ref ref="ERROR_FILE"/>
                    <appender-ref ref="ASYNC_LOGSTASH"/>
                </root>
            </then>
            <else>
                <root level="info">
                    <appender-ref ref="CONSOLE"/>
                    <appender-ref ref="FILE"/>
                    <appender-ref ref="ERROR_FILE"/>
                </root>
            </else>
        </if>
    </springProfile>

    <!--
        qa/deploy: 컨테이너 stdout(JSON)만 사용한다.
        Grafana Alloy가 도커 소켓에서 수집해 Loki로 보낸다.
    -->
    <springProfile name="qa,deploy">
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
